/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* header{
    position: sticky;
    top: 0;bottom: 0;right: 0;left: 0;
} */

body{
    min-height: 100vh;
    background-color: #EFEFEF;
    max-width: 100vw;
  }
  
nav{
    height: 10vh;
    background-color: black;

}

.titulo{
    text-align: center;
    line-height: 10vh;
    color: white;
}

.caixa{
    background-image: url(../imagens/namorados.jpg);
    background-size: cover;
    background-position-y: 70%;
    background-position-x: center;
    background-attachment: fixed;
    height: 85vh;
    max-width: 100vw;
}

.caixa p, .caixa h1{
    position: relative;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 8px black;
}

.caixa h1{
    padding-top: 50vh;
    font-size: 50px;
}

.caixa p{
    font-size: 30px;
    padding: 0px 100px 10px 100px;
}


button{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
 }

nav a{
    color: black;
}


 .escolha{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}

.botoes{
    width: 40vw;
}

#verMeninos{
    background-color: #4070F4;
    width: 40vw;
    text-shadow: 1px 1px 5px black;

}

#verMeninas{
    background-color: #ED9782;
    width: 40vw;
    text-shadow: 1px 1px 7px black;


}

#verMeninos:hover{
    background: #1148e2;
}

#verMeninas:hover{
    background: #e97558;
}

.card{

    width: 40vw;
}

.card-imagem{
    position: relative;
    width: 40vw;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.conheca{
    text-align: center;
    margin-top: 15vh;
    margin-bottom: -20vh;
}

.conheca h1{
    font-size: 40px;
}

.conheca p{
    font-size: 20px;
}

footer{
    background-color: black;
    height: 20vh;
}

.rodape-titulo{
    color: white;
    text-align: center;
}

.igrejas{
    color: white;
    
}

.igrejas ul{
    color: white;
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
}
